/* 
Theme: KTDG
*/

@font-face {font-family: "Neuzeit Grotesk Regular"; src: url("//db.onlinewebfonts.com/t/5c60085789b1949c7c249c3798453196.eot"); src: url("//db.onlinewebfonts.com/t/5c60085789b1949c7c249c3798453196.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5c60085789b1949c7c249c3798453196.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5c60085789b1949c7c249c3798453196.woff") format("woff"), url("//db.onlinewebfonts.com/t/5c60085789b1949c7c249c3798453196.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5c60085789b1949c7c249c3798453196.svg#Neuzeit Grotesk") format("svg"); }
@font-face {font-family: "Neuzeit Grotesk Light"; src: url("//db.onlinewebfonts.com/t/17b907cfce15b798094fa9e5896a1164.eot"); src: url("//db.onlinewebfonts.com/t/17b907cfce15b798094fa9e5896a1164.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/17b907cfce15b798094fa9e5896a1164.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/17b907cfce15b798094fa9e5896a1164.woff") format("woff"), url("//db.onlinewebfonts.com/t/17b907cfce15b798094fa9e5896a1164.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/17b907cfce15b798094fa9e5896a1164.svg#Neuzeit Grotesk") format("svg"); }
@font-face {font-family: "Neuzeit Grotesk Bold"; src: url("//db.onlinewebfonts.com/t/e033e2102fee59650a53fb6ed4033c16.eot"); src: url("//db.onlinewebfonts.com/t/e033e2102fee59650a53fb6ed4033c16.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e033e2102fee59650a53fb6ed4033c16.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e033e2102fee59650a53fb6ed4033c16.woff") format("woff"), url("//db.onlinewebfonts.com/t/e033e2102fee59650a53fb6ed4033c16.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e033e2102fee59650a53fb6ed4033c16.svg#Neuzeit Grotesk") format("svg"); }

.home {
    border-radius: 10px;
    padding: 17px;

}

body {
    width: 100vw;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

a, a:hover, button, button:hover {
    transition: all 0.2s;

}

.container {
    position: absolute;
    z-index: 11;
    padding-top: 1%;
    display: block;
    font-family: "Neuzeit Grotesk Regular"; 
    font-size: 20px;

    
}

.menu-ktdg-container ul ul {
    display: none;

    top: 3em;
    left: 0;
    z-index: 99999;
    width: 180px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.menu-ktdg-container ul li:hover > ul {
    display: block;
    background-color: white;
    
}

.menu-ktdg-container li {
    position: relative;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

li{
    float:left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  .dropdown {
    display: none;
    text-decoration: none;
    display: block;
    text-align: left;
  }

    
.navbar {
    padding-left: 28%;
    width: 100%
    
}

.logoName {
    
    padding-left: 40%;
}

#hero {
    height: 450px;
    
}

.hero-text {
    font-family: "Neuzeit Grotesk Bold";
    position: absolute;
    color: white;
    padding-left: 20%;
    padding-top: 8%;
    
}

.hero-subtext {
    font-family: "Neuzeit Grotesk Bold";
    position: absolute;
    color: white;
    padding-left: 20%;
    padding-top: 9%;
    z-index: 3;
}

.hero-shadow {
    position: absolute;
    background-color: #414141;
    opacity: 46%;
    width: 101%;
    height:450px;

}

/* Kids Section */

.kids-section {
    position: absolute;
    width: 570px;
    height:375px;
    background-color: #7DCD94;
    margin-top: 22%;
    margin-left: 10%;
    z-index: 7;
}

.kids-section h1 {
    font-family: "Neuzeit Grotesk Bold";
    font-weight: bold;
    position: absolute;
    color: white;
    padding-top: 10%;
    padding-left: 15%
  

}

.kids-button a {
    color:white;
}

.kids-section p {
    position: absolute;
    padding-top: 20%;
    padding-left: 15%;
    line-height: 36px;
}

.kids-button {
   position: absolute;
    padding-top: 50%;
    padding-left: 15%;
    
}

.teachers-section {
    
    position: absolute;
    background-color: #4EAE98;
    width: 570px;
    height:375px;
    margin-top: 22%;
    margin-left: 55%;
    z-index: 3;

}

.teachers-section h1 {
    font-family: "Neuzeit Grotesk Bold";
    position: absolute;
    color: white;
    padding-top: 10%;
    padding-left: 15%
  

}

.teachers-section p {
    position: absolute;
    padding-top: 20%;
    padding-left: 15%;
    line-height: 36px;
}

.teachers-button {
    position: relative;
    padding-top: 50%;
    padding-left: 15%;
    
}

.teachers-button a {
    color: white;
}

/* Works Section */

.lights{ 
    position: absolute;
    margin-left: 0%;
    z-index: 1;
}



.worksSection h3 {
    position: absolute;
    color: #175B86;
    font-family: "Neuzeit Grotesk Bold"; 
    padding-left: 47%;
    padding-top: 20%;
    z-index: 3;
}

.worksSection p {
    position: absolute;
    text-align: center;
    padding-left: 14%;
    padding-top: 25%;
    line-height: 34px;
    z-index: 2;
}

.worksButton {
    position: absolute;
    padding-left: 46%;
    padding-top: 40%;
    color:white;
    z-index: 3;
}

.Matters {
margin-top: 47%;
height: 600px;
background-color: rgba(242, 232, 206, .4);


}

.matterHeader {
    
    color: #175B86;
    font-family: "Neuzeit Grotesk Bold"; 
    padding-left: 47%;
    padding-top: 5%;
    z-index: 5;

}

.matterHeader h3 {
    padding-top: 1%;
}

.water-can {
    padding-left: 10%;
    position: absolute;
}

.waterCan-text {
    position: absolute;
    margin-top: 15%;
    margin-left: 7%;
    height: 100px;
    background-color: white;
    border-radius: 25px;
    width: 18%;

}

.waterCan-text p {
    font-family: "Neuzeit Grotesk Light";
    text-align: center;
    color: #175B86;
    padding-left: 3%;
    padding-top: 7%;
    font-size: 21px;
}

.community {
    position: absolute;
    margin-left: 30%;

}

.communityText  {
    position: absolute;
    margin-top: 15%;
    margin-left: 30%;
    height: 100px;
    background-color: white;
    border-radius: 25px;
    width: 18%;
}

.communityText p {
    position: absolute;
    font-family: "Neuzeit Grotesk Light";
    text-align: center;
    color: #175B86;
    padding-left: 11%;
    padding-top: 7%;
    font-size: 21px;
}

.goodness {
    position: absolute;
    margin-left: 52%;
}

.goodnessText {
    position: absolute;
    margin-top: 15%;
    margin-left: 50%;
    height: 100px;
    background-color: white;
    border-radius: 25px;
    width: 20%;
}

.goodnessText p {
    position: absolute;
    font-family: "Neuzeit Grotesk Light";
    text-align: center;
    color: #175B86;
    padding-left: 7%;
    padding-top: 7%;
    font-size: 21px;
}

.service {
    position: absolute;
    margin-left: 76%;
}

.serviceText {
    position: absolute;
    margin-top: 15%;
    margin-left: 72%;
    height: 100px;
    background-color: white;
    border-radius: 25px;
    width: 16%; 
}

.serviceText p {
    position: absolute;
    font-family: "Neuzeit Grotesk Light";
    text-align: center;
    color: #175B86;
    padding-left: 18%;
    padding-top: 7%;
    font-size: 21px;
}

.Contact {
    height: 100px;
    background-color: white;

}

.ktdgLogo {
    position: absolute;
    padding-left: 4%;
    padding-top: 1%;
}

.contactHeading h6 {
    position: absolute;
    color: #175B86;
    padding-left: 14%;
    padding-top: 2%;
    font-family: "Neuzeit Grotesk Bold"; 
    
}

.Email p {
    color:#7DCD94;
    padding-top: 4.5%;
    padding-left: 16%;
    position: absolute;
}

.Mail {
    position: absolute;
    padding-left: 14%;
    padding-top: 5%;

}

.Connect {
    position: absolute;
    color: #175B86;
    padding-left: 37%;
    padding-top: 2%;
    font-family: "Neuzeit Grotesk Bold"; 
}

.Inform h6 {
    position: absolute;
    color: #175B86;
    padding-left: 52%;
    padding-top: 2%;
    font-family: "Neuzeit Grotesk Bold"; 
}

.Inform p {
    color:#7DCD94;
    padding-top: 4.5%;
    padding-left: 52%;
    position: absolute;
}

.Tax {
    position: absolute;
    height: 90px;
    background-color: #E8F9ED;
    width: 16%;
    margin-left: 80%;
    margin-top: 1%;
    border-radius: 25px;
}
.Tax p {
    font-size: 15px;
    font-family: "Neuzeit Grotesk Light";
    color: #175B86;
    
}

.numKids {
    padding-top: 8%;
    position: absolute;
    padding-left: 5%;
}

.numTax {
    position: absolute;
    padding-left: 35%;
    padding-top: 19%;
}

.numBold {
    font-family: "Neuzeit Grotesk Bold";
} 

/* Kids Section */



.kidShadow {
    position: absolute;
    background-color: rgba(232, 249, 237, .6);
    height: 710px;
    width: 100%;
}

.kidsHeader {
    position: absolute;
    padding-top: 5%;
    padding-left: 40%;
    font-family: "Neuzeit Grotesk Bold";
    text-align: center;
}

.kidsHeader h1 {
    color: #175B86;
}



.charitySquare {
    position: absolute;
    margin-top: 15%;
    margin-left: 15%;
    height: 430px;
    width: 22%;
    background-color: #7DCD94;
}

.charitySquare:hover {
    border-radius: 25px;
    filter: drop-shadow(30px 10px 4px #4EAE98);
}

.charitySquare h1 {
    padding-top: 50%;
    padding-left: 10%;
    color: white;
    font-family: "Neuzeit Grotesk Bold";
}

.charitySquare p {
    font-family: "Neuzeit Grotesk Light";
    padding-left: 15%;
    font-size: 19px;
}

.kidsVolunteer {
    position: absolute;
    margin-top: 15%;
    margin-left: 40%;
    height: 430px;
    width: 22%;
    background-color: #7DCD94; 
}

.kidsVolunteer:hover {
    border-radius: 25px;
    filter: drop-shadow(30px 10px 4px #4EAE98);
}

.kidsVolunteer h1 {
    padding-top: 45%;
    padding-left: 10%;
    color: white;
    font-family: "Neuzeit Grotesk Bold";
}

.kidsVolunteer p {
    font-family: "Neuzeit Grotesk Light";
    padding-left: 15%;
    font-size: 19px;
}
 
.kidsAccount {
    position: absolute;
    margin-top: 15%;
    margin-left: 65%;
    height: 430px;
    width: 22%;
    background-color: #7DCD94;


}

.kidsAccount:hover {
    border-radius: 25px;
    filter: drop-shadow(30px 10px 4px #4EAE98);
}

.kidsAccount h1 {
    padding-top: 45%;
    padding-left: 10%;
    color: white;
    font-family: "Neuzeit Grotesk Bold";
}

.kidsAccount p {
    font-family: "Neuzeit Grotesk Light";
    padding-left: 15%;
    font-size: 19px;
}
/* Teacher Main Section */ 
.teacherShadow {
    position: absolute;
    height: 710px;
    width: 100%;
    background-color: rgba(242, 232, 206, .4);
    

}

.teacherHeader {

     padding-top: 5%;
    font-family: "Neuzeit Grotesk Bold";
    text-align: center;
}

.teacherHeader h1 {
    color: #175B86;
}

.teacherHeader h4 {
    color: #7DCD94;
}

.lessonPlans {
    position: absolute;
    margin-top: 3%;
    margin-left: 15%;
    height: 450px;
    width: 22%;
    background-color: #4EAE98;
}

.lessonPlans:hover {
    border-radius: 25px;
    filter: drop-shadow(30px 10px 4px #4444dd);
}

.lessonPlans img {
    position: absolute;
    padding-top: 20%;
    padding-left: 20%;
}

.lessonPlans h1 {
    font-family: "Neuzeit Grotesk Bold";
    color: white;
    padding-left: 20%;
    padding-top: 37%;
    line-height: 42px;
}

.lessonPlans p {
    font-family: "Neuzeit Grotesk Light";
    color: white;
    padding-left: 20%;
    padding-top: 5%;
    font-size: 19px;
}

.toolTips {
    position: absolute;
    margin-top: 3%;
    margin-left: 40%;
    height: 450px;
    width: 22%;
    background-color: #4EAE98;
}

.toolTips:hover {
    border-radius: 25px;
    filter: drop-shadow(30px 10px 4px #4444dd);
}

.toolTips img {
    position: absolute;
    padding-top: 20%;
    padding-left: 20%; }

.toolTips h1 { 
    font-family: "Neuzeit Grotesk Bold";
    color: white;
    padding-left: 20%;
    padding-top: 35%;
    line-height: 42px;
}


.toolTips p { 
    font-family: "Neuzeit Grotesk Light";
    color: white;
    padding-left: 20%;
    padding-top: 5%;
    font-size: 19px;
}
.relateRead {
    position: absolute;
    margin-top: 3%;
    margin-left: 65%;
    height: 450px;
    width: 22%;
    background-color: #4EAE98;

}

.relateRead:hover {
    border-radius: 25px;
    filter: drop-shadow(30px 10px 4px #4444dd);
}

.relateRead img {
   
    padding-top: 18%;
    padding-left: 20%; 
}

.relateRead h1 {
    font-family: "Neuzeit Grotesk Bold";
    color: white;
    padding-left: 20%;
    padding-top: 6%;
    line-height: 42px;
}

.relateRead p {
    font-family: "Neuzeit Grotesk Light";
    color: white;
    padding-left: 20%;
    padding-top: 5%;
    font-size: 19px;
}


.zigShadow {
    position: absolute;
    background-color: rgba(242, 232, 206, .4);
    height: 200px;
    width: 100%;
}



.bannerAssets img {
    padding-top: 2%;
    padding-left: 50%;
  position: absolute;
}

.bannerAssets h2 {
    position: absolute;
    font-family: "Neuzeit Grotesk Bold";
    color: #175B86;
    
    padding-top: 5%;
    padding-left: 45%;
}

.bannerAssets p {
    position: absolute;
    font-family: "Neuzeit Grotesk Light";
    font-size: 22px;
    padding-top: 8%;
    padding-left: 35%;
}

.Charities {
    background-color: white;
    height: 1500px;
}
.Study {
    position: absolute;
    padding-left: 10%;
    padding-top: 3%;
}

.studyGreen {
    position: absolute;
    height: 160px;
    width: 71%;
    background-color: #7DCD94;
}

.studyGreen h4 {
    font-family: "Neuzeit Grotesk Regular"; 
    color: white;
    font-size: 21px;
}

.studyGreen p {
    font-family: "Neuzeit Grotesk Light"; 
    color: white;
    font-size: 16px;
}

.Soup {
    position: absolute;
    padding-left: 36%;
    padding-top: 3%;
}

.soupGreen {
    position: absolute;
    background-color: #E8F9ED;
    height: 150px;
    width: 40.5%;
}

.Cupcake {
    position: absolute;
    padding-top: 3%;
    padding-left: 62%;
}

.footerBar {
    margin-top: 2%;
    height:40px;
    background-color: #7DCD94;
}

.footerBar p {
    color:white;
    padding-top: 0.5%;
    padding-left: 5%;
}



/* Custom Buttons */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }


  
  /* 1 */
.btn-1 {
    width: 180px;
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border-radius: 25px;
    border: none;
  }
  .btn-1:hover {
     background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
  }



/* 14 */
.btn-14 {
    width: 180px;
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
  }
  .btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }
  


/* 15 */
.btn-15 {
    width:180px;
    background: #b621fe;
    border: none;
    border-radius: 25px;
    z-index: 1;

  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 25px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  